@import 'mixins';

.fl_l { float: left; }
.fl_r { float: right; }
.clear:after { clear:both; float: none; }

body {
  overflow-y: scroll;
  font-family: Tahoma, Arial, Verdana, sans-serif, Lucida Sans;
  color: #222;
  width: 100%;
  background-color: #eee;
  direction: ltr;
}

#app {
  @include rounded(4px);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  border-left: 0px solid #DBDBDB;
  border-right: 0px solid #DBDBDB;
  background: white;
  position: relative;
  top: 0px;
  padding: 10px;

  .header {
    overflow: hidden;
    margin-bottom: 10px;
  }

  .page {
    overflow: hidden;
  }

  margin-bottom: 23px;
}

