.twitter_sign_in_button {
  background: transparent asset-url('signin_twitter.png', image) 0 0 no-repeat;
  background-position: 0 0;
  display: block;
  height: 3px;
  width: 121px;
  overflow: hidden;
  margin: 10px 0px;

  &:hover {
    background-position: 0 -24px;
  }
}
